<% provide(:title, "会長挨拶") %>
<h1>会長挨拶</h1>
<p>新宿区手をつなぐ親の会</p>
<p>　会長　内藤　美那子</p>
<p>「心を合わせて」</p>
<p>第七代新宿区手をつなぐ親の会会長を務めさせていただくことになりました内藤美那子です。五十年以上も続く親の会の歴史や活動を大切にしながら、法律や制度、障害者本人を取り巻く環境が変わっていく中で、私たちも時代の流れに合わせた活動を行っていきたいと思います。</p>
<p>さて現在、本人と親の高齢化問題は喫緊の課題です。地域生活支援部では、昨年から毎月茶話会を開き、親亡き後の財産管理、住まいのかたち、成年後見制度などについて、情報提供と意見交換を行ってきました。将来に対する不安や心配事を少しでも解消できるように、引き続き皆で集まり情報交換をしていくとともに、今年度新たに、気軽に相談ができ、しっかり支援に繋げていけるしくみ作りを、東京都育成会権利擁護支援センターや新宿区内各事業所、関係機関と連携を取りながら進めていきたいと思います。</p>
<p>国では、権利条約の批准のために必要な法律が整備されてきました。これを受けて、地域でも障害のある人の生活に関わる身近な制度や社会サービスをさらに充実させ、地域生活支援拠点についても体制を整えていかなれければならないと考えます。さらに、本人の自己決定や意思決定支援ということが言われていますが、障害者本人たちが自己決定について学んでいく機会も必要ではないかということで、この一年をかけて専門家のご協力を得ながら、「権利と責任」という視点を新宿区内の知的障害児者の生活に引き寄せて考えた、わかりやすい「自己決定ハンドブック」の作成をめざしています。</p>
<p>今年四月には、障害者差別解消法が施行されました。新宿区においても、障害があってもなくても、誰も分け隔てられず、お互いに尊重し合って暮らし、学び、働くことができるよう差別をなくし、誰もが安心して暮らせる豊かな共生社会をみんなで作り上げていきたいと思います。そのためには、まずたくさんの方に知的障害のことを知っていただくことが大切と考え、学齢期の保護者が中心となって知的障害擬似体験プロジェクトを立ち上げました。これから多くの方に向けて擬似体験を行っていく予定です。どのような展開になるか、楽しみにしています。</p>
<p>今年度も本人たちを中心において、様々な活動を行っていきます。</p>
<p>皆様のご支援ご協力をよろしくお願い申し上げます。</p>
