<div class="col-md-12">
  <h2>活動報告</h2>
  <h3>第４２回楽しい集い☆楽しく開催されました♪</h3>
  <pre>７月５日、あいにく雨の日曜日でしたが、多くの方に参加していただき、
楽しく賑やかに開催することができました。</pre>
  <p><a>続きはこちら</a></p>
</div>
<div class="col-md-12">
  <h2>お知らせ</h2>
  <h3>第４２回　楽しい集い</h3>
  <pre>
本人たちが楽しく過ごすミニ運動会、かけっこや玉入れ、ダンスにパン食い競争やゲームと盛りだくさんのプログラムです♪
いつ来ていつ帰っても、自分のペースで大丈夫！
上履きと昼食、飲み物は各自ご用意ください。</pre>
  
  <h3>知的障害疑似体験をしよう！</h3>
  <pre>８月８日（土）１３：００～１５：００　新宿区立障害者福祉センター２階　会議室

新宿区立障害者福祉センターの「みんなで学ぶ　要援護者の理解ワークショップ」のなかで、
知的障害疑似体験プログラムを実施します。
兵庫県で活動している「ぴーす＆ピース」から講師をお招きし、
知的障害の人たちが、どう感じているのか、何を困っているのかを体験してみませんか？
ワークショップの後は「みんなで泊まる。避難所宿泊体験」があります（要予約）。</pre>
</div>

<div class="col-md-4 col-sm-6">
  親の会とは
</div>
<div class="col-md-4 col-sm-6">
  会長あいさつ
</div>
<div class="col-md-4 col-sm-6">
  沿革
</div>
<div class="col-md-4 col-sm-6">
  規約
</div>
<div class="col-md-4 col-sm-6">
  組織図
</div>
<div class="col-md-4 col-sm-6">
  平成28年度　事業計画
</div>
<div class="clearfix"></div>
<div class="col-md-4 col-sm-6">
  会員募集
</div>
<div class="col-md-4 col-sm-6">
  賛助会員募集
</div>
