<% provide(:title, "平成28年度事業計画") %>
<h1>平成28年度事業計画</h1>
<p><a href="assets/pdfs/plan_28.pdf">PDFはこちら</a></p>

<ol>
  <li>総会・役員会・例会・幹事会</li>
  <li>会報「あした」発行 <span>毎月（８月を除く）</span></li>
  <li>「心とこころ」鉛筆販売 <span>２８年９月～２９年２月</span></li>
  <li>楽しい集い <span>２８年　８月　７日（日）</span></li>
  <li>防災体験学習ツアー <span>２８年　９月　４日（日）</span></li>
  <li>チャリティバザー <span>２８年１１月２７日（日）</span></li>
  <li>クリスマス会 <span>２８年１２月１７日（土）</span></li>
  <li>成人を祝う会・新年会 <span>２９年　２月　５日（日）</span></li>
  <li>一日バス・レクリエーション <span>２９年　３月２６日（日）</span></li>
  <li>新社会人を励ます会 <span>２９年　４月　２日（日）</span></li>
  <li>本人部「新宿えがお会」活動</li>
  <li>講演会・研修会・見学会（自己決定ハンドブック作成等）</li>
  <li>父親懇談会「おやじの会」</li>
  <li>ボランティアセンター「みにまむ」の運営</li>
  <li>知的障害者グループホームの設置促進</li>
  <li>地域社会への啓発活動（知的障害擬似体験プロジェクト等）</li>
  <li>地域生活支援（幸麗会等）</li>
  <li>権利擁護並びに相談支援（権利擁護支援センター立ち上げ準備等）</li>
  <li>区教育委員会・支援学級・都立特別支援学校等との連携協力</li>
  <li>就労支援機関との連携協力</li>
  <li>「新宿区手をつなぐ親の会」の事業体である社会福祉法人「新宿あした会」との連携協力</li>
  <li>「全国手をつなぐ育成会連合会」及び「東京都知的障害者育成会」との連携協力</li>
  <li>新宿区内障害者団体との連携協力</li>
  <li>新宿区内事業所との連携協力</li>
</ol>
