@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins */
@mixin box_sizing{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Basic */

  body {
    background: #f2f5f3;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #6b7770;
    font-size: 11.5pt;
    line-height: 2em;

    // &.is-loading * {
    //   @include vendor('transition', 'none !important');
    //   @include vendor('animation', 'none !important');
    // }
  }

  input, textarea, select {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #6b7770;
    font-size: 11.5pt;
    line-height: 2em;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #6b7770;
  }

  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
    color: inherit;
  }

  h2 {
    &.major {
      position: relative;
      border-top: solid 5px #e7eae8;

      span {
        background: #fff;
        position: relative;
        display: inline-block;
      }
    }
  }

  a {
    color: #006376;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  b, strong {
    font-weight: 700;
    color: #6b7770;
  }

  i, em {
    font-style: italic;
  }

  br.clear {
    clear: both;
  }

  sub {
    position: relative;
    top: 0.5em;
    font-size: 0.8em;
  }

  sup {
    position: relative;
    top: -0.5em;
    font-size: 0.8em;
  }

  hr {
    border: 0;
    border-top: solid 2px #E7EAE8;
    margin: 0 0 3em 0;
  }

  blockquote {
    border-left: solid 5px #E7EAE8;
    padding: 1em 0 1em 1.5em;
    font-style: italic;
  }

  p, ul, ol, dl, table {
    margin-bottom: 3em;
  }

/* Section/Article */

  section, article {
    margin-bottom: 6em;

    > :last-child,
    &:last-child {
      margin-bottom: 0;
    }
  }

  header {
    > p {
      display: block;
      font-family: 'Open Sans Condensed', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      color: #c1cac5;
    }
  }

/* Image */

  .image {
    position: relative;
    display: inline-block;
    border-radius: 8px;

    img {
      display: block;
      width: 100%;
      border-radius: 8px;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url('images/overlay.png');
      border-radius: 8px;
    }

    &.fit {
      display: block;
      width: 100%;
    }

    &.featured {
      display: block;
      width: 100%;
      margin: 0 0 2em 0;
    }

    &.left {
      float: left;
      margin: 0 2em 2em 0;
    }

    &.centered {
      display: block;
      margin: 0 0 2em 0;

      img {
        margin: 0 auto;
        width: auto;
      }
    }
  }

/* Button */

  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  button,
  .button {
    -webkit-appearance: none;
    display: inline-block;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background: #b1ddab;
    color: #fff;
    border: 0;
    line-height: 1em;
    border-radius: 8px;
    outline: 0;
    cursor: pointer;
    -moz-transition: background-color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;

    &:hover {
      background: #c1edbb;
    }

    &:active {
      background: #a1cd9b;
    }

    &.alt {
      background: #c1cac5;

      &:hover {
        background: #ccd5d0;
      }

      &:active {
        background: #b1bab5;
      }
    }
  }

/* List */

  ul {
    &.default {
      list-style: disc;
      padding-left: 1em;

      li {
        padding-left: 0.5em;
      }
    }

    &.divided {
      > li {
        border-top: solid 2px #e7eae8;
        padding-top: 2.35em;
        margin-top: 2.35em;

        &:first-child {
          border-top: 0;
          padding-top: 0;
          margin-top: 0;
        }
      }
    }

    &.actions {
      li {
        display: inline-block;
        margin: 0 0 0 1em;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    &.contact {
      cursor: default;

      li {
        // @include vendor('transition', 'top .15s ease-in-out');
        position: relative;
        display: inline-block;
        margin: 0 0.25em 0 0.25em;
        top: 0;

        a {
          // @include vendor('transition', 'background-color .2s ease-in-out');
          display: block;
          position: relative;
          width: 48px;
          height: 48px;
          border-radius: 6px;
          outline: 0;
          background: #c1cac5;
          text-align: center;

          &:before {
            color: #f2f5f3;
            font-size: 32px;
            line-height: 48px;
          }
        }

        &:hover {
          top: -5px;

          a {
            &.fa-facebook {
              background-color: #3C5A98;
            }

            &.fa-twitter {
              background-color: #2DAAE4;
            }

            &.fa-dribbble {
              background-color: #C4376B;
            }

            &.fa-linkedin {
              background-color: #006599;
            }

            &.fa-instagram {
              background-color: #2E5E86;
            }

            &.fa-google-plus {
              background-color: #DA2713;
            }
          }
        }

        &:active {
          top: 0;
        }
      }
    }

    &.special {
      cursor: default;

      li {
        // @include vendor('transition', 'top .15s ease-in-out');
        position: relative;
        display: inline-block;
        margin: 0 1.5em 0 1.5em;
        top: 0;

        &:hover {
          top: -10px;

          a {
            background: #b9d2ce;
          }
        }
      }

      a {
        // @include vendor('transition', 'background-color .2s ease-in-out');
        display: block;
        position: relative;
        background: #c1cac5;
        width: 12em;
        height: 12em;
        border-radius: 6em;
        outline: 0;

        &:before {
          position: absolute;
          width: 128px;
          height: 128px;
          font-size: 96px;
          line-height: 128px;
          left: 50%;
          top: 50%;
          margin-top: -64px;
          margin-left: -64px;
          color: #fff;
          text-align: center;
        }
      }
    }

    &.meta {
      font-size: 0.85em;
      color: #a1aaa5;

      li {
        position: relative;
        display: inline-block;
        margin-left: 1em;

        a {
          color: inherit;
          outline: 0;
        }

        &:first-child {
          margin-left: 0;
        }

        &:before {
          opacity: 0.5;
          cursor: default;
          margin-right: 0.5em;
        }
      }
    }

    &.menu {
      li {
        border-left: solid 1px #E7EAE8;
        display: inline-block;
        padding: 0 0 0 0.75em;
        margin: 0 0 0 0.75em;

        &:first-child {
          border-left: 0;
          margin-left: 0;
          padding-left: 0;
        }
      }
    }
  }

  ol {
    &.default {
      list-style: decimal;
      padding-left: 1.25em;

      li {
        padding-left: 0.25em;
      }
    }
  }

/* Forms */

  form {
    label {
      display: block;
      margin: 0 0 1em 0;
      font-family: 'Open Sans Condensed', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      color: #6b7770;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    select,
    textarea {
      -webkit-appearance: none;
      display: block;
      width: 100%;
      border-radius: 8px;
      border: solid 2px #E7EAE8;

      &:focus {
        border-color: #a1cd9b;
      }
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    select {
      line-height: 3em;
      padding: 0 1em;
    }

    textarea {
      min-height: 9em;
      padding: 1em;
    }

    .formerize-placeholder {
      color: #555 !important;
    }

    ::-webkit-input-placeholder {
      color: #555 !important;
    }

    :-moz-placeholder {
      color: #555 !important;
    }

    ::-moz-placeholder {
      color: #555 !important;
    }

    :-ms-input-placeholder {
      color: #555 !important;
    }

    ::-moz-focus-inner {
      border: 0;
    }
  }

/* Tables */

  table {
    width: 100%;

    &.default {
      width: 100%;

      tr {
        border-top: solid 2px #E7EAE8;

        &:first-child {
          border-top: 0;
        }
      }

      td {
        padding: 0.5em 1em 0.5em 1em;
      }

      th {
        text-align: left;
        padding: 0.5em 1em 0.5em 1em;
        margin: 0 0 1em 0;
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        color: #6b7770;
      }

      thead {
        background: #E7EAE8;
        color: #fff;
      }
    }
  }

/* Box */

  .box {
    &.highlight {
      text-align: center;
    }
  }

/* Icons */

  .icon {
    position: relative;
    text-decoration: none;

    &:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important;
    }

    > .label {
      display: none;
    }
  }

/* Wrappers */

  #banner-wrapper {
    position: relative;
    background-image: url('images/overlay.png'), url('images/overlay.png'), url('../../images/banner.jpg');
    background-position: top left, top left, center center;
    background-repeat: repeat, repeat, no-repeat;
    background-size: auto, auto, cover;
    z-index: 1;
  }

  #main-wrapper {
    background: #fff;
    border-top: solid 5px #b1ddab;
    border-bottom: solid 5px #c1cac5;
  }

/* Banner */

  #banner {
    position: relative;
    background-color: rgba(21, 28, 23, 0.85);
    background-image: url('images/overlay.png'), url('images/highlight.png');
    background-position: top left, center center;
    background-size: auto, 100% 250%;
    background-repeat: repeat, no-repeat;
    text-align: center;
    margin: 0;

    h2 {
      color: #fff;
    }

    p {
      display: block;
      font-family: 'Open Sans Condensed', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      color: #575d59;
    }

    .button {
      // @include vendor('transition', ('border-color .2s ease-in-out', 'color .2s ease-in-out'));
      color: #b4b7b5;
      background: transparent !important;
      border: solid 4px #575d59;
      border-color: rgba(87, 93, 89, 0.35);
      border-radius: 16px;

      &:hover {
        color: #e4e7e5;
        border-color: rgba(87, 93, 89, 0.75);
      }

      &:active {
        color: #fff;
        border-color: rgba(97, 103, 99, 1);
      }
    }
  }

/* Footer */

  #footer {
    a {
      color: inherit;
    }

    h2 {
      &.major span {
        background: #f2f5f3;
      }
    }
  }

/* Copyright */

  #copyright {
    display: inline-block;
    background: #e7eae8;
    padding: 0.75em 2em 0.75em 2em;
    border-radius: 8px;
    color: #8b9790;

    a {
      color: inherit;
    }

    .menu {
      margin: 0;

      li {
        border-color: #C1CAC5;
        border-width: 2px;
        line-height: 1em;
      }
    }
  }


/* Mobile */
  /* header */
  #header{
    display: none;
  }


/* Tablet */
@media screen and (min-width: 768px){
  /* header */
  #header{
    display: block;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    background: #fff;
    margin: 0 auto;
    padding: 4em 0 1em 0;
    .logo{
      position: relative;
      text-align: center;
      border-top: solid 5px #e7eae8;
      div{
        background: #fff;
        position: relative;
        display: inline-block;
        padding: 0 1.5em 0 1.5em;
        top: -0.85em;
      }
      h1{
        display: inline;
      }
    }
  }
}


/* Desktop */
@media screen and (min-width: 1200px){
  /* header */
  #header{
    padding: 5em 0 2em 0;
  }
  
}

