<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul>
          <li>ページ</li>
          <li>ページ</li>
          <li>ページ</li>
          <li>ページ</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h2>お知らせ</h2>
        <ul>
          <li>お知らせ内容お知らせ内容お知らせ内容</li>
          <li>お知らせ内容お知らせ内容お知らせ内容</li>
          <li>お知らせ内容お知らせ内容お知らせ内容</li>
          <li>お知らせ内容お知らせ内容お知らせ内容</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h2>連絡先</h2>
        <p>あああ<br>
        いいい<br>
        ううう<br></p>
      </div>
    </div>
  </div>
</footer>