<!-- Header -->
  <header id="header">
    <div class="logo container">
      <div>
        <h1><%= link_to "新宿区手をつなぐ親の会", root_path, id: "logo" %></h1>
      </div>
    </div>
  </header>

<!-- Nav -->
  <nav id="nav">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li class="current"><a href="left-sidebar.html">親の会とは</a></li>
      <li><a href="right-sidebar.html">活動報告</a></li>
      <li><a href="no-sidebar.html">会員・賛助会員</a></li>
    </ul>
  </nav>